<!DOCTYPE html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app='legal'>
<head>
    <!-- META -->
    <meta charset="utf-8">

    <title>Legal Information App</title>

	<link rel="icon" type="image/x-icon" href="favicon.ico"/>
	
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"><!-- load bootstrap css -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap js -->

    <link rel="styleSheet" href="angular-ui-grid/ui-grid.css"/>
    <link rel="stylesheet" href="legal.css">
    
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="angular-ui-grid/ui-grid.min.js"></script>
    <script src="mockdata.js"></script>
    <script src="legal.module.js"></script>
    <script src="main.controller.js"></script>
    <script src="auth.module.js"></script>
    <script src="auth.authController.js"></script>

 <style>
    div.spacer
        {
            font-size: 0; 
            height: 20px;
            line-height: 0;
        }
    </style>

</head>

<body ng-controller="mainController" class="full">
	<!--Login Form -->

    <div class="row" ng-controller="authController">
        <div class="col-md-4 col-md-offset-1">

          <a ng-click="toggle_login_show()">Login</a>
          <div id="logincontainer" ng-show="login_show" >
		      <div ng-show="login_message_show" class="alert alert-danger">{{login_message}}</div>
              <form class="form" ng-submit="login()">
                <div class="form-group">
                  <label>Username</label> <input type="text" class="form-control" name=
                  "username" ng-model="loginForm.username" required="">
                </div>
                <div class="form-group">
                  <label>Password</label> <input type="password" class="form-control"
                  name="password" ng-model="loginForm.password" required="">
                </div>
                <div>
                  <button type="submit" class="btn btn-default" ng-disabled=
                  "disabled">Login</button>
                  <button ng-click="register()" class="btn btn-default" ng-disabled=
                  "disabled">Register</button>
                </div>
              </form>
          </div>
		  <p ng-show="logged_in_as_show" >Logged in as: {{logged_in_as}}</p>
        </div>
    </div>
    
	<div class="spacer"> </div> 
	
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <!--<div class="container">
                {{firms}}
            </div>-->
            <div class="row">
				<div class="col-md-3">
				    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="clickGetFirmsButton()"> Load Current Firms
					</button>
				</div>
				<div class="col-md-3">				
				    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="toggleShowAddNewFirms()"> New Firm
					</button>
				</div>	
				<div class="col-md-3" ng-show="make_new_firm_show">				
                    <form novalidate>
                        Firm Name:
                        <input class="form-control" type="text" ng-model="firmadd.name"><br>
                        Firm URL:
                        <input class="form-control" type="text" ng-model="firmadd.url"> <br>
					</form>
                  <h3>{{firmaddresult}}</h3>
				</div>	
				<div class="col-md-3" ng-show="make_new_firm_show">				
				    <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="addFirm()"> Save New Firm</button>
					<button type="submit" class="btn btn-danger btn-lg btn-block" ng-click="reset()"> Cancel</button>
				</div>					
			</div>
			<div class="row">
				<div class="col-md-6">
				    <text> Visible Rows:{{filteredRowCount}}</text>
					<text> Total Firms:{{firmCount}} </text>
				</div>
			</div>
			
            <div class="spacer"> </div> 
            
            <div ui-grid="firmInspectGridData" ui-grid-selection ui-grid-exporter ui-grid-resize-columns class="firmInspectGrid"></div>
            

            
            <div class="spacer"> </div> 

            

            <div class="container">
                {{searchFirms}}
            </div>

            <div class="spacer"> </div> 



        </div>
        <div class="col-md-1"></div>
    </div>
	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading">Firm Notes</div>
				<div class="panel-body">
					<div ui-grid="firmNotesGridData" ui-grid-selection ui-grid-exporter ui-grid-resize-columns class="firmDetailGrid"></div>
					<div>
						<form class="form" novalidate>
							<div class="form-group">
								<label></label><input type="text" class="form-control" name="noteToAdd" ng-model="noteadd.note" required="">
							</div><div>
								<button type="submit" class="btn btn-default" ng-click="addFirmNote()">Add Note</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-2">
			<div class="panel panel-primary">
				<div class="panel-heading">Flags</div>
				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr ng-class="flags.flag1 ? 'flag-annunciator-on' : 'flag-annunciator-off'"><td>Type1</td><td ng-bind="flags.flag1_date | date:'yyyy-MM-dd'"></td> </tr>
							<tr ng-class="flags.flag2 ? 'flag-annunciator-on' : 'flag-annunciator-off'"><td>Type2</td><td ng-bind="flags.flag2_date | date:'yyyy-MM-dd'"></td> </tr>
							<tr ng-class="flags.flag3 ? 'flag-annunciator-on' : 'flag-annunciator-off'"><td>Type3</td><td ng-bind="flags.flag3_date | date:'yyyy-MM-dd'"></td> </tr>
						</tbody>
					</table>
					<!--<div ui-grid="firmResearchSessionsGridData" ui-grid-selection ui-grid-exporter ui-grid-resize-columns class="firmDetailGrid"></div> -->
				</div>
			</div>
		</div>

		<div class="col-md-1"></div>
    
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">	
				<div class="panel panel-primary">
				<div class="panel-heading" >Firm Research Sessions</div>
				<div class="panel-body" id="firm-research-sessions-div">
					<table class="table table-bordered table-striped">
					<thead>
					  <tr>
						<th>RSID</td>
						<th>UserID</td>
						<th>JobStart</td>
						<th>JobStop</td>
						<th>Type</td>
						<th>Count</td>
					  </tr>
					  </thead>
					<tbody>
					  <tr ng-repeat="x in researchSessionData">
						<td>{{ x.RSID }}</td>
						<td>{{ x.UserID }}</td>
						<td>{{ x.JobStart | date:'yyyy-MM-dd h:mm a'}}</td>
						<td>{{ x.JobStop | date:'yyyy-MM-dd h:mm a'}}</td>
						<td>{{ x.Type }}</td>
						<td>{{ x.Count }}</td>
					  </tr>
					  </tbody>
					</table>
				    
				</div>
			</div>
		</div>
    </div>
	
	<div class="spacer"> </div> 
	<div class="spacer"> </div> 
	<div class="spacer"> </div> 
	<div class="spacer"> </div> 
	<div class="spacer"> </div> 
	<div class="spacer"> </div> 
	<div class="spacer"> </div> 
	<div class="spacer"> </div> 



</body>


</html>
