<!DOCTYPE html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app='legal'>
<head>
    <!-- META -->
    <meta charset="utf-8">

    <title>Legal Information App</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"><!-- load bootstrap css -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap js -->

    <link rel="styleSheet" href="angular-ui-grid/ui-grid.css"/>
    <link rel="stylesheet" href="legal.css">
    
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="angular-ui-grid/ui-grid.min.js"></script>
    <script src="mockdata.js"></script>
    <script src="legal.module.js"></script>
    <script src="main.controller.js"></script>
    <script src="auth.module.js"></script>
    <script src="auth.authController.js"></script>

 <style>
    div.spacer
        {
            font-size: 0; 
            height: 20px;
            line-height: 0;
        }
    </style>

</head>

<body ng-controller="mainController">
	<!--Login Form -->

    <div class="row" ng-controller="authController">
        <div class="col-md-4 col-md-offset-1">

          <a ng-click="toggle_login_show()">Login</a>
          <div id="logincontainer" ng-show="login_show" >
		      <div ng-show="login_message_show" class="alert alert-danger">{{login_message}}</div>
              <form class="form" ng-submit="login()">
                <div class="form-group">
                  <label>Username</label> <input type="text" class="form-control" name=
                  "username" ng-model="loginForm.username" required="">
                </div>
                <div class="form-group">
                  <label>Password</label> <input type="password" class="form-control"
                  name="password" ng-model="loginForm.password" required="">
                </div>
                <div>
                  <button type="submit" class="btn btn-default" ng-disabled=
                  "disabled">Login</button>
                  <button ng-click="register()" class="btn btn-default" ng-disabled=
                  "disabled">Register</button>
                </div>
              </form>
          </div>
		  <p ng-show="logged_in_as_show" >Logged in as: {{logged_in_as}}</p>
        </div>
    </div>
    
	
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">

            <!--<div class="container">
                {{firms}}
            </div>-->
            <div class="row">
				<div class="col-md-3">
				    <h3> Current Firms </h3>
				    <button type="submit" class="btn btn-primary btn-lg" ng-click="clickGetFirmsButton()"> Get Current Firms
					</button>
				</div>
				<div class="col-md-3">
					<h3> Search For Firm By Name</h3> 
					<div>
						<input ng-model="nameForLegalSearch"></input>
					</div>
					<button type="submit" class="btn btn-primary btn-lg" ng-click="clickSearchFirmsButton(nameForLegalSearch)"> Search for Firm</button>
				</div>
				<div class="col-md-3">				
				    <h3> Add New Firm</h3>
                    <form novalidate>
                        Firm Name:<br>
                        <input type="text" ng-model="firmadd.name"><br>
                        Firm URL:<br>
                        <input type="text" ng-model="firmadd.url"> <br>
                        <div class="spacer"> </div> 
                        <button ng-click="addFirm()">ADD</button>
                        <button ng-click="reset()">RESET</button>
                  </form>
                  <h3>{{firmaddresult}}</h3>
				</div>				
			</div>

			
            <h3> Firm Count: {{firmCount}}</h3>
			<button class= "countButton" ng-mouseenter="rowCount = getFilteredRowCount()" ng-mouseleave="rowCount = 'Filtered Row Count'" ng-init="rowCount = 'Filtered Row Count'"> {{rowCount}} </button>
			
            <div class="spacer"> </div> 
            
            <div ui-grid="gridData" ui-grid-exporter class="myGrid"></div>
            

            
            <div class="spacer"> </div> 

            

            <div class="container">
                {{searchFirms}}
            </div>

            <div class="spacer"> </div> 


            <div class="panel panel-default">
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>



</body>


</html>
